.button {
    width: 165px;
    height: 48px;
    border-radius: 100px;
    font-size: 16px;
    line-height: 24px;
    font-family: 'general-sans-semibold', sans-serif;
    border: 0;
    background-color: #007173;
    color: #ffffff;
}

.button:hover {
    background-color: #004B4C;
}

.button--filled {
    background-color: #007173;
    color: #ffffff;
    width: 100%;
}

.button--nofill {
    border: 1px solid #007173;
    background-color: #F1EAE6;
    color: #0f1828;
    width: 100%;
}

.button--nofill:hover {
    background-color: #F1EAE6;
}



