.counter-card {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    width: 242px;
    min-height: 142px;
    border-radius: 16px;
}

.counter-card__count {
    font-family: "geist-mono", sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 0.5px;
    width: 100%;
    margin: 0;
    padding: 0;
    margin: 16px 16px 0 16px;
    color: #007173;
}

.counter-card__title {
    font-family: "general-sans-medium", sans-serif;
    font-weight: 500;
    font-size: 26px;
    line-height: 32px;
    margin: 0;
    padding: 0;
    margin: 12px 16px 0px 16px;
    color: #0F1828;
}

@media screen and (max-width: 1000px) {
    .counter-card {
        width: 100%;
        min-height: 0;
    }

    .counter-card__title {
        margin: 12px 16px 14px 16px;
    }
    
}