.dropdown {
    text-decoration: none;
    color: #0f1828;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    font-family: 'General Sans', sans-serif;
    display: flex;
    align-items: center;
    gap: 8px;
}

.dropdown img {
    height: 6px;
    filter: invert(57%) sepia(6%) saturate(382%) hue-rotate(182deg) brightness(95%) contrast(87%);
}