body {
    height: 100vh;  
    max-width: 1512px;
    padding: 0;
    margin: 0;
}

footer {
    background-color: #0F1828;
    padding: 0 100px;
    height: 632px;
}

.anchor-button__div {
    display: flex;
    gap: 36px;
}

.contact-link__div {
    display: flex;
    justify-content: space-between;
    gap: 36px;
    margin-top: 40px;
}

/* Brands */
.brands__div {
    padding-top: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brands__div a {
    width: 240px;
}

.ndis__icon {
    height: 64px;
}


/* Contact */
.contact__anchor {
    display: flex;
    align-items: center;
    gap: 15px;
    text-decoration: none;
    color: #ffffff;
    font-family: 'General Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}


/* Quick Links */
.quick-links__div {
    display: flex;
    flex-direction: row;
    gap: 60px;
}

.heading-list__div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0;
    margin: 0;
    font-family: 'General Sans', sans-serif;
}

.heading-list__div h3 {
    padding: 0;
    margin: 0;
    font-size: 13px;
    line-height: 18px;
    color: #FAE6AA;
}

.heading-list__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
    padding: 0;
    font-size: 16px;
    line-height: 24px;

}

.heading-list__div ul {
    padding: 0;
    margin: 0;
}

.heading-list__list a {
    text-decoration: none;
    color: #ffffff;
}


/* Contact Buttons */
.contact-buttons__div {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.image-button__div {
    display: flex;
    gap: 10px;
}

.button {
    width: 240px;
    height: 56px;
    border-radius: 100px;
    font-size: 16px;
    line-height: 24px;
    font-family: 'General Sans', sans-serif;
    font-weight: 600;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button--fill {
    background-color: #00BFC3;
    color: #0C3744;
}

.image__button-round {
    height: 48px;
    width: 48px;
    border-radius: 100px;
    background-color: #0D2433;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* footnote */
.footnote {
    margin-top: 60px;
    text-align: center;
    color: #ffffff;
    font-family: 'General Sans', sans-serif;
    font-size: 14px;
    line-height: 16px;
}

.footnote hr {
    height: 1px;
    border: none;
    background-color: #ffffff;
}   

.p__div {
    margin-top: 50px;
}

.img__div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.img__div img {
    height: 16px;
}

.image-content__p {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.image-content__p img {
    width: 25px;
}

.footnote span {
    font-weight: bold;
}

@media only screen and (max-width: 1000px) {
    footer {
        background-color: #0F1828;
        padding: 0 0;
        height: auto;
    }

    .anchor-button__div {
        display: flex;
        flex-direction: column;
        gap: 36px;
    }
    
    .contact-link__div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 36px;
        margin-top: 40px;
    }


    /* brands */
    .brands__div {
        padding-top: 80px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }
    
    .brands__div a {
        width: auto;
    }
    
    .ndis__icon {
        height: 64px;
    }


    /* Contact */
    .contact__anchor {
        display: flex;
        align-items: center;
        justify-content: center;
    }   


    /* Quick Links */
    .quick-links__div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 60px;
    }

    .heading-list__div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        padding: 0;
        margin: 0;
        font-family: 'General Sans', sans-serif;
    }

    .heading-list__div h3 {
        text-align: center;
    }


    /* Contact Buttons */
    .contact-buttons__div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 25px;
        margin-top: 10px;
    }

    .button {
        width: 92%;
        max-width: 560px;
        height: 56px;
        border-radius: 100px;
        font-size: 16px;
        line-height: 24px;
        font-family: 'General Sans', sans-serif;
        font-weight: 600;
        border: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    

    /* footnote */
    .footnote {
        text-align: center;
        color: #ffffff;
        font-family: 'General Sans', sans-serif;
        font-size: 14px;
        line-height: 16px;
        margin: 50px 20px 0 20px;
        padding-bottom: 40px;
    }

    .footnote hr {
        height: 1px;
        width: 100%;
        border: none;
        background-color: #ffffff;
    }   

    .img__div img {
        height: 16px;
    }

    .image-content__p {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 16px;
        width: 100%;
        text-align: center;
    }

}