.love-where-you-live {
    background-color: #FFFFFF;
    min-height: 550px;
    display: flex;
    justify-content: center;
    gap: 32px;
    padding: 0 24px;
}

.love-where-you-live__text-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 575px;
}

.love-where-you-live__media-content {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

.love-where-you-live__media-content__img {
    width: 100%;
}

@media screen and (max-width: 1000px) {

    .love-where-you-live {
        background-color: #FFFFFF;
        min-height: 550px;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        gap: 32px;
        padding: 0 16px;
        padding-top: 64px;
    }

    .love-where-you-live__text-content {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        text-align: left;
        max-width: 100%;
    }
    
}

