.quick-links__div {
    display: flex;
    flex-direction: row;
    gap: 60px;
}

.heading-list__div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0;
    margin: 0;
    font-family: 'General Sans', sans-serif;
}

.heading-list__div h3 {
    padding: 0;
    margin: 0;
    font-size: 13px;
    line-height: 18px;
    color: #FAE6AA;
}

.heading-list__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
    padding: 0;
    font-size: 16px;
    line-height: 24px;

}

.heading-list__div ul {
    padding: 0;
    margin: 0;
}

.heading-list__list a {
    text-decoration: none;
    color: #ffffff;
}