.specialist-disability-accommodation {
    background-color: #0F18280D;
}

.specialist-disability-accommodation__text-content {
    padding: 80px 96px 72px 96px;
    display: flex;
    justify-content: space-between;
}

.specialist-disability-accommodation__text-content--main {
    display: flex;
    flex-direction: column;
    max-width: 762px;
    width: 100%;
    margin-left: 16px;
}

.specialist-disability-accommodation__text-content--main__cards {
    display: flex;
    gap: 16px;
}

.specialist-disability-accommodation__text-content--main__button-link {
    display: flex;
    gap: 24px;
    margin-top: 40px;
}

.specialist-disability-accommodation__image-content {
    padding: 0px 96px 80px 96px;
    max-width: 1320px;
}

.specialist-disability-accommodation__image-content__img {
    width: 100%;
}

@media screen and (max-width: 1000px) {
    .specialist-disability-accommodation__text-content {
        padding: 64px 16px 0px 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
    }

    .specialist-disability-accommodation__text-content--main {
        margin-left: 0;
        max-width: 1000px;
    }
    
    .specialist-disability-accommodation__text-content--main__cards {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    
    .specialist-disability-accommodation__text-content--main__button-link {
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin-top: 32px;
        justify-content: center;
        align-items: center;
    }

    .specialist-disability-accommodation__image-content {
        padding: 0;
        max-width: 1320px;
        margin-top: 56px;
        margin-bottom: 64px;
    }
}