.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
}

.col {
    display: flex;
    flex-direction: column;
    margin: auto;
}

@media screen and (max-width: 1000px) {
    .container {
        padding: 160px 20px 20px 20px;
    }
}