.breadcrumbs {
    padding: 40px 0 56px 80px;
}

.is-grey {
    color: var(--c-scorpion);
}

.is-peach {
    color: var(--c-peach-schnapps);
}

@media screen and (max-width: 1000px) {
    .breadcrumbs {
        padding: 60px 0 56px 30px;
    }
}