.button {
    padding: 1rem 2rem;
    border-radius: 100px;
    font-family: "General Sans", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    border: 0;
    background-color: #007173;
    color: #ffffff;
    text-decoration: none;
}

.button:hover {
    background-color: #004B4C;
}

.button--filled {
    background-color: #007173;
    color: #ffffff;
}

.button--filled-solo {
    background-color: #007173;
    color: #ffffff;
    padding: 16px 24px;
    display: flex;
    align-items: center;
    width: fit-content;
}

.button--nofill {
    border: 1px solid #007173;
    background-color: #F1EAE6;
    color: #0f1828;
}

.button--nofill:hover {
    background-color: #F1EAE6;
}

@media screen and (max-width: 1000px) {
    .button {
        width: 100%;
    }

    .button--filled-solo {
        padding: 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}



