.form-field {
    display: flex;
    align-items: center;
    gap: 12px;
}

.form-field-col {
    display: flex;
    align-items: center;
    gap: 12px;
}

.form-field__label {
    font-weight: 600;
    letter-spacing: 2px;
    width: 200px;
}

.dropdown-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}

.dropdown-container .form-field__dropdown-icon {
    position: absolute;
    right: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-field__dropdown {
    appearance: none;
    width: 100%;
    background-color: var(--c-pearl-bush);
    border: var(--c-peach-schnapps) 1px solid;
    padding: 8px 16px;
    border-radius: 8px;
    font-family: "General Sans";
    font-size: 16px;
    line-height: 24px;
    padding-right: 20px;
}

.form-field__input {
    height: 48px;
    width: 100%;
    max-width: 392px;
    border-radius: 8px;
    border: 1px solid var(--c-scorpion);
    color: var(--c-scorpion);
    background-color: var(--c-white);
    padding: 0px 16px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

.form-field__search {
    background-color: var(--c-light-gray);
    max-width: 806px;
    height: 48px;
    margin: 0 auto;
    border-radius: 8px;
    border: 1px solid var(--c-scorpion);
}

@media screen and (max-width: 1240px) {
    .form-field-col {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
    }

    .form-field__input {
        width: 95%;
        max-width: inherit;
        border: none;
    } 
}

@media screen and (max-width: 1000px) {
    .form-field__dropdown {
        gap: 100px;
        justify-content: space-between;
        padding: 8px 16px;
        border-radius: 8px;
    }

    .form-field__label {
        width: 140px;
    }

    .dropdown-container {
        flex-shrink: 2;
    }
}