.paragraph-content {
    font-family: 'general-sans-regular', sans-serif;
    font-size: 18px;
    line-height: 26px;
    color: #383838;
    max-width: 480px;
}

.paragraph-content--semibold {
    font-family: 'general-sans-semibold', sans-serif;
}

.paragraph-content--teaser-card {
    font-family: 'general-sans-regular', sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #383838;
    width: 100%;
    margin: 0;
    margin-bottom: 0;
}

.paragraph-content--specialist-disability-accommodation {
    max-width: none;
    color: #0F1828;
}

.paragraph-content--light {
    color: #F1EAE6;
    max-width: none;
}

