<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Buttons</title>
    <link rel="stylesheet" href="/css/contact-buttons.css">
    <link href="https://api.fontshare.com/v2/css?f[]=general-sans@300,400,500,600&display=swap" rel="stylesheet">
</head>
<body>
    <div class="contact-buttons__div">
        <button class="button button--fill">Contact Us</button>
        <div class="image-button__div">
            <button class="image__button-round"><img src="/images/facebook.svg" alt="Facebook Icon"></button>
            <button class="image__button-round"><img src="/images/linked-in.svg" alt="LinkedIn Icon"></button>
            <button class="image__button-round"><img src="/images/instagram.svg" alt="Instagram Icon"></button>
        </div>
    </div>
</body>
</html>