<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Counter Card</title>
    <link rel="stylesheet" href="/css/components/counter-card.css">
    <link rel="stylesheet" href="/css/globals/font-face.css">
</head>
<body style="background-color: gray;">

    <div class="counter-card">

        <p class="counter-card__count">374</p>
        <h4 class="counter-card__title">Apartments</h4>

    </div>
    
</body>
</html>