<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heading + Paragraph</title>
    <link rel="stylesheet" href="/css/heading-paragraph-button.css">
    <link href="https://api.fontshare.com/v2/css?f[]=general-sans@300,400,500,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/button.css">
</head>
<body>

    <div class="heading-paragraph__div">

    <h2>Life-changing <span>living</span></h2>
    <p>In ornare et eget commodo consectetur mauris nec. Risus leo ultricies adipiscing commodo ipsum interdum vulputate. Ut magna et mollis et.</p>
        
    </div>
    <div class="buttons__div">
        <button class="button button--fill">Submit Enquiry</button>
        <button class="button button--nofill">Find a Property</button>
    </div>
    
</body>
</html>