<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nav</title>

    <!-- Atoms CSS -->
    <link rel="stylesheet" href="../css/atoms/form-field.css">

    <!-- Components CSS -->
    <link rel="stylesheet" href="../css/components/nav.css">
    <link rel="stylesheet" href="../css/components/button-group.css">

    <!-- Globals CSS -->
    <link rel="stylesheet" href="../css/globals/font-face.css">
    <link rel="stylesheet" href="../css/globals/base.css">
    <link rel="stylesheet" href="../css/globals/utilities.css">

</head>
<body style="background-color: gray">

    <nav class="nav">
        <div class="nav__container">

            <div class="nav-elements">
                <a href="/#"><img src="/images/logo.svg" alt="logo ipsum logo"></a>

                <ul class="nav-dropdowns">
                    <li>
                        <a href="/#" class="dropdown">Our Properties<img src="/images/arrow-down.svg" alt="arrow down symbol" class="nav-dropdowns__icon"></a>
                    </li>
                    <li>
                        <a href="/#" class="dropdown">SDA<img src="/images/arrow-down.svg" alt="arrow down symbol" class="nav-dropdowns__icon"></a>
                    </li>
                    <li>
                        <a href="/#" class="dropdown">About Us<img src="/images/arrow-down.svg" alt="arrow down symbol" class="nav-dropdowns__icon"></a>
                    </li>
                    <li>
                        <a href="/#" class="dropdown">Resource Hub<img src="/images/arrow-down.svg" alt="arrow down symbol" class="nav-dropdowns__icon"></a>
                    </li>
                    <li>
                        <a href="/#" class="dropdown">Media & News<img src="/images/arrow-down.svg" alt="arrow down symbol" class="nav-dropdowns__icon"></a>
                    </li>
                </ul>
            
                <ul class="nav-search">
                    <li>
                        <a href="/#"><img src="/images/magnifying-glass.svg" alt="magnifying glass icon" class="nav-search__icon"></a>
                    </li>
                    <li>
                        <a class="button nav-search__button" href="/#">Submit Enquiry</a>
                    </li>
                    <li>
                        <button class="nav-hamburger__button"><img src="/images/list.svg" alt="Hamburger Icon" class="nav-hamburger__icon"></button>
                    </li>
                </ul>
    
            </div>

        </div>
        
    </nav>
    
</body>
</html>