<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desktop Nav</title>
    <link rel="stylesheet" href="/css/components/nav.css">
    <link rel="stylesheet" href="/css/atoms/button.css">
    <link rel="stylesheet" href="/css/globals/font-face.css">
</head>
<body style="background-color: gray; padding: 0; margin: 0;">

    <nav class="nav">
        <div class="nav__container">

            <div class="nav-elements">
                <a href="/#"><img src="/images/logo.svg" alt="logo ipsum logo"></a>
    
                <div class="nav-dropdowns">
                    <a href="/#" class="nav-dropdowns__dropdown">Our Properties<img src="/images/arrow-down.svg" alt="arrow down symbol" class="nav-dropdowns__icon"></a>
                    <a href="/#" class="nav-dropdowns__dropdown">SDA<img src="/images/arrow-down.svg" alt="arrow down symbol" class="nav-dropdowns__icon"></a>
                    <a href="/#" class="nav-dropdowns__dropdown">About Us<img src="/images/arrow-down.svg" alt="arrow down symbol" class="nav-dropdowns__icon"></a>
                    <a href="/#" class="nav-dropdowns__dropdown">Resource Hub<img src="/images/arrow-down.svg" alt="arrow down symbol" class="nav-dropdowns__icon"></a>
                    <a href="/#" class="nav-dropdowns__dropdown">Media & News<img src="/images/arrow-down.svg" alt="arrow down symbol" class="nav-dropdowns__icon"></a>
                </div>
            
                <div class="nav-search">
                    <a href="/#"><img src="/images/magnifying-glass.svg" alt="magnifying glass icon" class="nav-search__icon"></a>
                    <button class="button nav-search__button">Submit Enquiry</button>
                    <a href="/#"><img src="/images/list.svg" alt="Hamburger Icon" class="nav-hamburger__icon"></a>
                </div>
    
            </div>

        </div>
       
    </nav>
    
</body>
</html>