<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desktop Nav</title>
    <link rel="stylesheet" href="/css/nav.css">
</head>
<body>
    <nav class="nav-desktop">
        <div class="nav__div">
        <a href="/#"><img src="/images/logo.svg" alt="logo ipsum logo"></a>

        <div class="dropdown__div">
            <a href="/#" class="dropdown">Our Properties<img src="/images/arrow-down.svg" alt="arrow down symbol"></a>
            <a href="/#" class="dropdown">SDA<img src="/images/arrow-down.svg" alt="arrow down symbol"></a>
            <a href="/#" class="dropdown">About Us<img src="/images/arrow-down.svg" alt="arrow down symbol"></a>
            <a href="/#" class="dropdown">Resource Hub<img src="/images/arrow-down.svg" alt="arrow down symbol"></a>
            <a href="/#" class="dropdown">Media & News<img src="/images/arrow-down.svg" alt="arrow down symbol"></a>
        </div>
      
       <div class="search__div">
            <a href="/#"><img src="/images/magnifying-glass.svg" alt="magnifying glass icon"></a>
            <button class="button button--fill">Submit Enquiry</button>
       </div>

    </div>

    </nav>
</body>
</html>