<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News Previews</title>

    <!-- Components CSS -->
    <link rel="stylesheet" href="/css/blocks/news-previews.css">

    <!-- Globals CSS -->
    <link rel="stylesheet" href="/css/globals/font-face.css">
    <link rel="stylesheet" href="/css/globals/base.css">
    <link rel="stylesheet" href="/css/globals/utilities.css">
</head>
<body>

    <section>

        <div class="news-previews">

            <div class="col">

                <p class="news-previews__section-title">KEEP READING</p>

                <div class="news-previews__preview">

                    <div class="row">

                        <img class="news-previews__img" src="/images/news-image.jpg" alt="news preview image" loading="lazy" width="104" height="52">

                        <div class="col">
                            <p class="news-previews__title">Nunc erat non pellentesque pretium at malesuada viverra</p>
                            <p class="news-previews__date">09 January 2024</p>
                        </div>

                    </div>

                </div>

                <div class="news-previews__preview">

                    <div class="row">

                        <img class="news-previews__img" src="/images/news-image.jpg" alt="news preview image" loading="lazy" width="104" height="52">

                        <div class="col">
                            <p class="news-previews__title">Nunc erat non pellentesque pretium at malesuada viverra</p>
                            <p class="news-previews__date">09 January 2024</p>
                        </div>

                    </div>

                </div>

                <div class="news-previews__preview">

                    <div class="row">

                        <img class="news-previews__img" src="/images/news-image.jpg" alt="news preview image" loading="lazy" width="104" height="52">

                        <div class="col">
                            <p class="news-previews__title">Nunc erat non pellentesque pretium at malesuada viverra</p>
                            <p class="news-previews__date">09 January 2024</p>
                        </div>

                    </div>

                </div>

            </div>
                
        </div>

    </section>
    
</body>
</html>