<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Numbered Card</title>
    <link rel="stylesheet" href="/css/components/numbered-card.css">
    <link rel="stylesheet" href="/css/globals/font-face.css">
</head>
<body>

    <div class="col">

        <div class="numbered-card">

            <p class="numbered-card__number">01</p>
    
            <div class="numbered-card__content">
    
                <p class="numbered-card__title">Focus on Quality and Technology</p>
                <p class="numbered-card__description">Et elementum sit a facilisi porttitor non. Lectus ut risus habitant lectus vitae. Arcu dui quis in orci ullamcorper quisque sit praesent. Vel massa sed molestie est elementum enim amet. Pretium ultrices nunc pellentesque egestas netus proin. Tortor non elementum.</p>
    
            </div>
    
        </div>

        <div class="numbered-card">

            <p class="numbered-card__number">02</p>
    
            <div class="numbered-card__content">
    
                <p class="numbered-card__title">Focus on Quality and Technology</p>
                <p class="numbered-card__description">Et elementum sit a facilisi porttitor non. Lectus ut risus habitant lectus vitae. Arcu dui quis in orci ullamcorper quisque sit praesent. Vel massa sed molestie est elementum enim amet. Pretium ultrices nunc pellentesque egestas netus proin. Tortor non elementum.</p>
    
            </div>
    
        </div>

        <div class="numbered-card">

            <p class="numbered-card__number">03</p>
    
            <div class="numbered-card__content">
    
                <p class="numbered-card__title">Focus on Quality and Technology</p>
                <p class="numbered-card__description">Et elementum sit a facilisi porttitor non. Lectus ut risus habitant lectus vitae. Arcu dui quis in orci ullamcorper quisque sit praesent. Vel massa sed molestie est elementum enim amet. Pretium ultrices nunc pellentesque egestas netus proin. Tortor non elementum.</p>
    
            </div>
    
        </div>

    </div>

</body>
</html>