<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Modal</title>

    <!-- Atoms CSS -->
    <link rel="stylesheet" href="../css/atoms/form-field.css">
    <link rel="stylesheet" href="../css/components/search-modal.css">

    <!-- Components CSS -->
    <link rel="stylesheet" href="../css/components/nav.css">
    <link rel="stylesheet" href="../css/components/button-group.css">
    
    <!-- Globals CSS -->
    <link rel="stylesheet" href="../css/globals/font-face.css">
    <link rel="stylesheet" href="../css/globals/base.css">
    <link rel="stylesheet" href="../css/globals/utilities.css">

</head>
<body>

    <div class="container">

        <div class="search-modal">
            <div class="search-modal__elements">
                <div class="search-modal__close-button">
                    <button class="button--no-border-bg" onclick="hideSearchModal()"><img src="images/x-symbol.svg" alt="" width="20px" height="20px"></button>
                </div>
            
                <div class="col">
                            
                    <p class="search-modal__headline">How can we help you today?</p>
                    
                    <search>
                        <form class="form-field__search row-spaced-between">
                            <input name="fsrch" id="fsrch" placeholder="Enter a keyword to start searching" class="search-modal__input">
                            <button class="search-modal__button button--no-border-bg"><img src="images/magnifying-glass.svg" alt=""></button>
                        </form>
                    </search>
                
                </div>
            </div>
        </div>

    </div>


    
</body>
</html>