<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Share Links</title>

    <!-- Components CSS -->
    <link rel="stylesheet" href="/css/components/share-links.css">

    <!-- Globals CSS -->
    <link rel="stylesheet" href="/css/globals/font-face.css">
    <link rel="stylesheet" href="/css/globals/base.css">
    <link rel="stylesheet" href="/css/globals/utilities.css">
</head>
<body>

        <div class="share-links">

            <div class="col">

                <p class="share-links__title">SHARE THIS POST</p>

                <div class="share-links__links">
    
                    <a href="/#"><img src="/images/arrow-down.svg" alt=""></a>
                    <a href="/#"><img src="/images/arrow-down.svg" alt=""></a>
                    <a href="/#"><img src="/images/arrow-down.svg" alt=""></a>
                    <a href="/#"><img src="/images/arrow-down.svg" alt=""></a>
    
                </div>
    
            </div>

        </div>
    
</body>
</html>