<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tags</title>

    <!-- Components CSS -->
    <link rel="stylesheet" href="/css/components/tags.css">

    <!-- Globals CSS -->
    <link rel="stylesheet" href="/css/globals/font-face.css">
    <link rel="stylesheet" href="/css/globals/base.css">
    <link rel="stylesheet" href="/css/globals/utilities.css">

</head>
<body>

    <div class="tags">

        <div class="tag">
            <img src="/images/x-symbol.svg" alt="close tag symbol">
            <p class="tag__text">BLOG</p>
        </div>

        <div class="tag">
            <img src="/images/x-symbol.svg" alt="close tag symbol">
            <p class="tag__text">design and accessibility</p>
        </div>

    </div>
    
</body>
</html>