<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teaser Card</title>
    <link rel="stylesheet" href="../css/components/teaser-card.css">
    <link rel="stylesheet" href="../css/atoms/subtitle.css">
    <link rel="stylesheet" href="../css/globals/font-face.css">
    <link rel="stylesheet" href="/css/components/title-subtitle.css">
    <link rel="stylesheet" href="/css/atoms/paragraph-content.css">

    <!-- Globals CSS -->
     <link rel="stylesheet" href="/css/globals/font-face.css">
     <link rel="stylesheet" href="/css/globals/base.css">

</head>
<body>

    <div class="teaser-card">

        <div class="teaser-card__media-content">

        <a href="/#">
            <img src="../images/news-resources-1.jpg" alt="a person in a wheelchair using a laptop" class="teaser-card__media-content__img">
        </a>
        
        </div>

        <div class="teaser-card__text-content">

            <a href="/#">
                <p class="teaser-card__subtitle">
                    Real Stories, Inclusive Communities
                </p>
            </a>

            <a href="/#">
                <h2 class="teaser-card__title">
                    Navigating the World of Specialist Disability Accommodation
                </h2>
            </a>

            <a href="/#">
                <p class="paragraph-content paragraph-content--teaser-card">Egestas morbi non at sit in leo fringilla nunc. Sit nisl ornare tempus sed. Vitae leo ac scelerisque eleifend</p>
            </a>

        </div>
        
    </div>
    
</body>
</html>