.button-group {
    display: flex;
    align-items: center;
    width: 330px;
    gap: 10px;
}

@media screen and (max-width: 800px) {
    .button-group {
        width: 100%;
        flex-direction: column;
    }
}