.button {
    padding: 1rem 2rem;
    border-radius: 100px;
    font-size: 16px;
    line-height: 24px;
    border: 0;
    background-color: #007173;
    color: #ffffff;
    text-decoration: none;
}

.button:hover {
    background-color: #004B4C;
}

.button--filled {
    background-color: #007173;
    color: #ffffff;
}

.button--filled-solo {
    background-color: #007173;
    color: #ffffff;
    padding: 16px 24px;
    display: flex;
    align-items: center;
    width: fit-content;
}

.button--nofill {
    border: 1px solid #007173;
    background-color: #F1EAE6;
    color: #0f1828;
}

.button--nofill:hover {
    background-color: #F1EAE6;
}

.button-form {
    padding: 12px 24px;
    margin-left: 8px;
    text-align: center;
}

.button-group {
    display: flex;
    align-items: center;
    gap: 10px;
}

@media screen and (max-width: 1240px) {
    .button-form {
        width: 90%;
        margin: 0;
    }
}

@media screen and (max-width: 1000px) {
    .button-group {
        width: 100%;
        flex-direction: column;
    }

    .button {
        width: 90%;
    }

    .button--filled-solo {
        padding: 20px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}