/* nav */

.nav {
    width: 100%;
}

.nav__container {
    position: fixed;
    z-index: 50;
    left: 50%;
    transform: translate(-50%);
    top: 24px;
    width: 95%;
    max-width: 1320px; 
    height: 80px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 100px;
}

.nav-elements {
    display: flex;
    flex-direction: row;
    gap: 6px;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.nav-dropdowns {
    display: flex;
    gap: 10px;
    align-items: center;
}

.nav-dropdowns ul {
    list-style: none;
}

.nav-search {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-search__icon {
    margin-right: 30px;
}

.nav-hamburger__icon {
    display: none;
}

/* anchors */
.dropdown {
    text-decoration: none;
    color: #0f1828;
    font-size: 16px;
    line-height: 24px;
    font-family: 'general-sans-medium', sans-serif;
    display: flex;
    align-items: center;
    gap: 8px;
    height: 48px;
    padding: 0 20px;
    border-radius: 100px;
}

.dropdown:hover {
    background-color: #FFE1D6;
}

.nav-dropdowns__icon {
    height: 6px;
    filter: invert(57%) sepia(6%) saturate(382%) hue-rotate(182deg) brightness(95%) contrast(87%);
}

@media only screen and (max-width: 1266px) {
    .nav-dropdowns {
        display: none;
    }

    .nav-search__button {
        display: none;
    }

    .nav-hamburger__icon {
        display: block;
    }

}

