.search-modal {
    width: 95%;
    background-color: var(--c-white);
    max-width: 1320px;
    padding-bottom: 100px;

    position: fixed;
    z-index: 50;
    left: 50%;
    transform: translate(-50%);
    top: 24px;

    display: none;
}

.search-modal__close-button {
    align-self: flex-end;
    margin-bottom: 60px;
    padding: 28px;
}

.search-modal__headline {
    padding-bottom: 18px;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    margin: 0 auto;
    text-align: center;
    margin: 0 20px;
}

.search-modal__input {
    width: 100%;
    border: none;
    background: none;
    padding: 0 10px;
}

.search-modal__button {
    padding: 10px;
}