.teaser-card {
    display: flex;
    flex-direction: column;
    max-width: 424px;
    margin: 0;
    padding: 0;
}

.teaser-card a {
    text-decoration: none;
    color: var(--c-ebony);
}

.teaser-card__title {
    font-size: 26px;
    line-height: 32px;
    font-weight: 600px;
    color: var(--c-ebony);
    font-weight: 500;
}

.teaser-card__subtitle {
    font-size: 13px;
    line-height: 18px;
    color: var(--c-turquoise);
    font-weight: 600;
}

.teaser-card__text-content {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.teaser-card__media-content__img {
    border-radius: 12px;
    width: 100%;
}