.is-dual-bg-light {
    background: linear-gradient(
        to right, 
        var(--c-pearl-bush) 75%, 
        var(--c-persian-green) 25%
    );
}

.is-dual-bg-dark {
    background: linear-gradient(
        to left, 
        var(--c-pearl-bush) 75%, 
        var(--c-persian-green) 25%
    );
}

.is-dual-bg-dark--secondary {
    background: linear-gradient(
        to right, 
        var(--c-tiber) 75%, 
        var(--c-peach-schnapps) 25%
    );
}

.is-bg-light {
    background: var(--c-white);
}

.is-bg-dark {
    background: var(--c-pearl-bush);
}

.is-dual-bg-dark--secondary .content-media {
    padding-bottom: 80px;
}

.is-padding-top {
    padding-top: 80px;
}

.content-media {
    display: flex;
    gap: 100px;
    justify-content: space-between;
}

.content-media-small-gap {
    display: flex;
    gap: 60px;
    justify-content: space-between;
}

.content-media__info {
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 628px;
}

.bold {
    font-weight: 600;
}

.light {
    color: white;
}

.content-media__media {
    margin: 0 auto;
    padding-top: 0px;
}

.content-media__image {
    border-radius: 1000px 1000px 0 0;
    width: 100%;
    max-width: 604px;
    height: auto;
}

/* Image Style */
.is-title-above-image .content-media {
    margin-top: 40px;
}

.is-title-above-image .block-heading {
    margin-bottom: 0px;
}

.is-title-above-image .content-media__media {
    padding-top: 0;
    padding: 0px 0px;
    padding-bottom: 80px;
    margin: 0 auto;
}

.is-title-above-image .col:has(.content-media__info) {
    padding-top: 0px;
    margin-bottom: 60px;
}

.is-image-contained .content-media__image {
    border-radius: 0;
    max-width: 656px;
}

.is-image-contained .content-media__info {
    padding-top: 0;
    margin: 0 auto;
    padding: 0px 0;
}

.is-image-overlapped {
    margin-top: 180px;
}

.is-image-overlapped .content-media__media {
    margin: -160px 0 0 0;
    max-width: 484px;
}

/* Media position */
.is-media-left .col:has(.content-media__media) {
    order: -1;
}

.is-media-vertical-center .content-media__media {
    padding: 0;
    margin: auto 0;
}

@media screen and (max-width: 1000px) {
    .content-media {
        display: flex;
        flex-direction: column;
        gap: 60px;
    }

    .is-dual-bg-light,
    .is-dual-bg-dark {
        background: var(--c-pearl-bush);
    }

    .is-dual-bg-dark--secondary {
        background: var(--c-tiber);
    }

    .is-padding-top {
        padding-top: 120px;
    }

    .content-media__info {
        padding: 0;
        gap: 20px;
    }

    .content-media__media {
        padding-top: 0;
    }

    /* Image Style */
    .is-image-contained .content-media__info {
        margin: 0;
    }
    
    .is-image-overlapped .content-media__media {
        margin: 0 auto;
    }

    /* Media position */
    .is-media-left .col:has(.content-media__media) {
        order: 0;
    }

    .is-title-above-image .block-heading {
        margin-top: 0px;
    }   

    .is-title-above-image .content-media__info {
        margin: 0;
    }

    .is-title-above-image .content-media__media {
        padding-top: 0px;
        padding: 40px 0px;
        padding-bottom: 0px;
        margin: auto;
    }

    .is-title-above-image .col:has(.content-media__media) {
        order: -1;
    }
}

