.is-dual-bg-light {
    background: linear-gradient(
        to right, 
        var(--c-pearl-bush) 75%, 
        var(--c-persian-green) 25%
    );
}

.is-dual-bg-dark {
    background: linear-gradient(
        to left, 
        var(--c-pearl-bush) 75%, 
        var(--c-persian-green) 25%
    );
}

.is-dual-bg-dark--secondary {
    background: linear-gradient(
        to right, 
        var(--c-tiber) 75%, 
        var(--c-peach-schnapps) 25%
    );
}

.is-bg-light {
    background: var(--c-white);
}

.is-bg-dark {
    background: var(--c-pearl-bush);
}

.container {
    max-width: 1400px;
    display: flex;
    gap: 100px;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 20px;
}

.col {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.content-media__info {
    padding-top: 120px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 628px;
}

.block-heading {
    font-family: "General Sans";
    color: var(--c-ebony);
    font-weight: 400;
    font-size: 40px;
    line-height: 44px;
}

.block-heading--light {
    font-family: "General Sans";
    color: var(--c-white);
    font-weight: 400;
    font-size: 40px;
    line-height: 44px;
}

.block-heading__title--small {
    font-family: "General Sans";
    color: var(--c-ebony);
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
}

.highlight {
    font-family: "Gotcha Regular";
    color: var(--c-turquoise);
    font-size: 66px;
    line-height: 52px;
}

.highlight--light {
    font-family: "Gotcha Regular";
    color: var(--c-white);
    font-size: 66px;
    line-height: 52px;
}

.subtitle {
    letter-spacing: 2px;
    font-size: 13px;
    line-height: 18px;
    font-weight: 600;
    color: var(--c-ebony);
}

.bold {
    font-weight: 600;
}

.light {
    color: white;
}

.content-media__media {
    margin: 0 auto;
    padding-top: 120px;
}

.content-media__image {
    border-radius: 1000px 1000px 0 0;
    width: 100%;
    max-width: 604px;
    height: auto;
}

/* Image Style */
.is-title-above-image .block-heading {
    margin-bottom: 0px;
}

.is-title-above-image .block-heading {
    margin-top: 60px;
}

.is-title-above-image .content-media__media {
    padding-top: 0;
    padding: 40px 0px;
    padding-bottom: 60px;
    margin: auto;
}

.is-image-contained .content-media__image {
    border-radius: 0;
}

.is-image-contained .content-media__info {
    padding-top: 0;
    margin: 0 auto;
    padding: 60px 0;
}

.is-image-contained .container {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 20px;
}

/* Media position */
.is-media-left .col:has(.content-media__media) {
    order: -1;
}

.is-media-vertical-center .content-media__media {
    padding: 0 0 60px 0;
}

@media screen and (max-width: 1000px) {
    .container {
        display: flex;
        flex-direction: column;
        gap: 60px;
        padding: 160px 20px 20px 20px;
    }

    .is-dual-bg-light,
    .is-dual-bg-dark {
        background: var(--c-pearl-bush);
    }

    .is-dual-bg-dark--secondary {
        background: var(--c-tiber);
    }

    .content-media__info {
        padding-top: 60px;
        gap: 20px;
    }

    .content-media__media {
        padding-top: 0;
    }

    /* Image Style */
    .is-image-contained .content-media__info {
        margin-bottom: 40px;
        margin-top: 80px;
    }

    /* Media position */
    .is-media-left .col:has(.content-media__media) {
        order: 1;
    }

    .is-title-above-image .container {
        margin: 0 auto;
        padding: 80px 20px;
    }  

    .is-title-above-image .block-heading {
        margin-top: 0px;
    }   

    .is-title-above-image .content-media__info {
        margin: 0;
    }

    .is-title-above-image .content-media__media {
        padding-top: 0px;
        padding: 40px 0px;
        padding-bottom: 0px;
        margin: auto;
    }

    .is-title-above-image .col:has(.content-media__media) {
        order: -1;
    }
}

