.is-dual-bg-light {
    background: linear-gradient(
        to right, 
        var(--c-pearl-bush) 70%, 
        var(--c-persian-green) 30%
    );
}

.is-dual-bg-dark {
    background: linear-gradient(
        to left, 
        var(--c-pearl-bush) 70%, 
        var(--c-persian-green) 30%
    );
}

.is-bg-light {
    background: var(--c-white);
}

.container {
    max-width: 1300px;
    display: flex;
    gap: 100px;
    justify-content: space-between;
    margin: 0 auto;
    padding: 120px 20px 0 20px;
}

.col {
    display: flex;
    flex-direction: column;
}

.content-media__info {
    padding-top: 20px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 490px;
}

.block-heading {
    font-family: "General Sans";
    color: var(--c-ebony);
    font-weight: 600;
    font-size: 40px;
    line-height: 44px;
}

.highlight {
    font-family: "Gotcha Regular";
    color: var(--c-turquoise);
    font-size: 66px;
    line-height: 52px;
}

.subtitle {
    letter-spacing: 2px;
    font-size: 13px;
    line-height: 18px;
    font-weight: 600;
    color: var(--c-ebony);
}

.content-media__media {
    margin: 0 auto;
}

.content-media__image {
    border-radius: 1000px 1000px 0 0;
    width: 100%;
    max-width: 604px;
    height: auto;
}

/* Image Style */
.is-image-contained {
    border-radius: 0;
}

.is-image-contained .content-media__info {
    padding-top: 0;
    margin: 0 auto;
}

.is-image-contained .container {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin: 0 auto;
    padding: 120px 20px 0 20px;
}

/* Media position */
.is-media-left .col:has(.content-media__media) {
    order: -1;
}

@media screen and (max-width: 1000px) {
    .container {
        display: flex;
        flex-direction: column;
        gap: 60px;
        padding: 168px 20px 0 20px;
    }

    .is-dual-bg-light,
    .is-dual-bg-dark {
        background: var(--c-pearl-bush);
    }

    /* Image Style */
    .is-image-contained .content-media__info {
        margin-bottom: 40px;
    }

    /* Media position */
    .is-media-left .col:has(.content-media__media) {
        order: 1;
    }
}

