.footer__container {
    background-color: #0F1828;
    margin: 0 auto;
    padding: 90px 16px 40px 16px;
    max-width: 1320px;
}

/* Brands */
.brands {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brands__link {
    width: 240px;
}

.ndis__icon {
    height: 64px;
}

/* Contact */
.contacts {
    display: flex;
    justify-content: space-between;
    gap: 36px;
    margin-top: 40px;
}

.email-mobile-contact__link {
    display: flex;
    align-items: center;
    gap: 15px;
    text-decoration: none;
    color: #ffffff;
    font-family: 'general-sans-regular', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.contact-links__container {
    display: flex;
    gap: 80px;
}

/* Quick Links */
.contact-links {
    display: flex;
    flex-direction: row;
    gap: 60px;
}

.quick-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0;
    margin: 0;
    font-family: 'general-sans-medium', sans-serif;
}

.quick-links__title {
    padding: 0;
    margin: 0;
    font-size: 13px;
    line-height: 18px;
    color: #FAE6AA;
    font-family: 'general-sans-semibold', sans-serif;
}

.quick-links__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
    padding: 0;
    font-size: 16px;
    line-height: 24px;

}

.quick-links__link {
    text-decoration: none;
    color: #ffffff;
}


/* Contact Buttons */
.contact-buttons {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.socials {
    display: flex;
    gap: 10px;
}

.contact-buttons--social {
    height: 48px;
    width: 48px;
    border-radius: 100px;
    background-color: #0D2433;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-buttons--contact-us {
    width: 240px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00BFC3;
    color: #0C3744;
    border-radius: 100px;
    font-size: 16px;
    line-height: 24px;
    font-family: 'general-sans-semibold', sans-serif;
    border: 0;
    font-weight: 600;
}

/* footnote */
.footnote {
    margin-top: 60px;
    text-align: center;
    color: #ffffff;
    font-family: 'general-sans-regular', sans-serif;
    font-size: 14px;
    line-height: 16px;
}

.footnote__hr {
    height: 1px;
    border: none;
    background-color: #ffffff;
}   

.footnote-content {
    margin-top: 50px;
}

.footnote-flags {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    display: inline-block;
    margin-right: 10px;
}

.footnote-flags__image {
    height: 16px;
    width: 25px;
}

.footnote-content__paragraph {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    display: inline-block;
}

.footnote span {
    font-weight: bold;
}

@media only screen and (max-width: 1000px) {

    .contacts {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    
    .contact-links__container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 36px;
        background-color: #0F1828;
    }


    /* brands */
    .brands {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }
    
    .brands__link {
        width: auto;
    }
    
    .ndis__icon {
        height: 64px;
    }


    /* Contact */
    .email-mobile-contact__link {
        display: flex;
        align-items: center;
        justify-content: center;
    }   


    /* Quick Links */
    .contact-links {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 36px;
        text-align: center;
    }

    .quick-links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
    }

    .quick-links__title {
        margin: 0;
        padding: 0;
    }

    /* Contact Buttons */
    .contact-buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 25px;
        margin-top: 10px;
    }

    .contact-buttons--contact-us {
        width: 92%;
        max-width: 560px;
        height: 56px;
        border-radius: 100px;
        font-size: 16px;
        line-height: 24px;
        font-family: 'general-sans-semibold', sans-serif;
        border: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    

    /* footnote */
    .footnote {
        text-align: center;
        color: #ffffff;
        font-family: 'general-sans-regular', sans-serif;
        font-size: 14px;
        line-height: 16px;
        margin: 50px 20px 0 20px;
    }

    .footnote__hr {
        height: 1px;
        width: 100%;
        border: none;
        background-color: #ffffff;
    }   

    .footnote-content__paragraph {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 16px;
        width: 100%;
        text-align: center;
    }

}