.is-green-bg {
    background-color: var(--c-tiber);
    color: var(--c-white);
}

.is-ebony-bg {
    background-color: var(--c-ebony);
    color: var(--c-white);
}

.grid {
    padding-bottom: 120px;
}

.grid__title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    gap: 16px;
    padding-bottom: 118px;
    max-width: 360px;
}

.grid__title-long {
    max-width: 444px;
}

@media screen and (max-width: 1000px) {
    .grid {
        padding-bottom: 0;
    }

    .grid__directory {
        padding: 124px 16px 80px 16px;
    }

    .grid__title {
        max-width: 280px;
    }
    
}