.map {
    background-color: #FFFFFF;
    display: flex;
    padding-top: 60px;
    padding-bottom: 60px;
    justify-content: space-between;
}

.state-selector__title {
    color: #383838;
    font-family: 'general-sans-semibold', sans-serif;
    font-size: 20px;
    line-height: 26px;
    margin: 0;
    margin-top: 68px;
    margin-left: 16px;
    padding: 0;
}

.state-selector__list {
    margin: 0;
    padding: 0;
    margin-top: 16px;
}

.state-selector__item {
    color: #0F1828;
    font-family: 'general-sans-regular', sans-serif;
    font-size: 18px;
    line-height: 26px;
    list-style: none;
    height: 50px;
    width: 262px;
    display: flex;
    align-items: center;
}

.map__media-content__img {
    width: 100%;
}

.map__mobile {
    display: none;
}

.state-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    max-width: 480px;
    width: 100%;
}

.state-card__title {
    color: #0F1828;
    font-family: 'general-sans-semibold', sans-serif;
    font-size: 18px;
    line-height: 26px;
    padding: 0;
    margin: 0;
}

.state-selector__row {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.state-card__img {
    width: 100%;
}

@media screen and (max-width: 1000px) {
    .map__text-content {
        display: none;
    }

    .state-selector__mobile-title {
        color: #383838;
        font-family: 'general-sans-semibold', sans-serif;
        font-size: 18px;
        line-height: 24px;
        margin: 0;
        margin-top: 35px;
        margin-left: 16px;
        padding: 0;
    }

    .map__media-content {
        display: none;
    }

    .map__mobile {
        display: block;
        margin: 64px 16px 62px 16px;
    }
}