/* nav */

.nav {
    width: 100%;
}

.nav__container {
    position: fixed;
    z-index: 50;
    left: 50%;
    transform: translate(-50%);
    top: 24px;
    width: 95%;
    max-width: 1320px; 
    height: 80px;
    background-color: var(--c-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 100px;
}

.nav-elements {
    display: flex;
    flex-direction: row;
    gap: 6px;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.nav-elements ul {
    list-style: none;
}

.nav-dropdowns {
    display: flex;
    gap: 10px;
    align-items: center;
}

.nav-dropdown-expanded {
    background-color: var(--c-white);
    position: fixed;
    z-index: 50;
    left: 47%;
    transform: translate(-50%);
    top: 108px;
    width: 740px;
    border-radius: 8px;
}

.nav-dropdown-expanded__links {
    width: 67%;
    padding: 32px;
}

.nav-dropdown-expanded__content-media {
    width: 33%;
    padding: 32px;
}

.nav-dropdown-expanded__content-title {
    margin-top: 16px;
    margin-bottom: 4px;
    color: var(--c-ebony);
    font-weight: 600;
}

.nav-dropdown-expanded__item {
    list-style: none;
    margin-top: 16px;
    font-weight: 500;
    color: var(--c-turquoise);
}

.nav-search {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-search__icon {
    margin-right: 30px;
}

.nav-hamburger__icon {
    display: none;
}

/* anchors */
.dropdown {
    text-decoration: none;
    color: #0f1828;
    font-size: 16px;
    line-height: 24px;
    font-family: "General Sans", sans-serif;
    display: flex;
    align-items: center;
    gap: 8px;
    height: 48px;
    padding: 0 20px;
    border-radius: 100px;
}

.dropdown:hover {
    background-color: #FFE1D6;
}

.nav-dropdowns__icon {
    height: 6px;
    filter: invert(57%) sepia(6%) saturate(382%) hue-rotate(182deg) brightness(95%) contrast(87%);
}

@media only screen and (max-width: 1340px) {
    .nav-dropdowns {
        display: none;
    }

    .nav-dropdown-expanded {
        display: none;
    }

    .nav-search__button {
        display: none;
    }

    .nav-hamburger__icon {
        display: block;
    }

    .nav-hamburger__button {
        padding: 0;
        border: none;
        background: none;
    }

    .nav-hamburger__button:active {
        padding: 0;
        border: none;
        background: yellow;
    }

}

