.news-body {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.news-body__row {
    display: flex;
    gap: 78px;
}

.news-body__sidebar {
    position: sticky;
    top: 0;
}

.news-body__share-links {
    padding-top: 64px;
}


.news-body__lead {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
}

.news-body__content {
    padding-top: 12px;
}

.news-body__media {
    width: 100%;
}

.news-body__img {
    width: 100%;
    border-radius: 8px;
}

.news-body__img-caption {
    font-style: italic;
    color: var(--c-scorpion);
    font-weight: 400;
}

.news-body__quote {
    position: relative;
}

.quote__content {
    padding-left: 40px;
    font-weight: 600;
    color: var(--c-turquoise);
}

.news-body__quote::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 10px;
    background-color: var(--c-turquoise);
}

.quote__author {
    color: var(--c-tiber);
    padding-top: 16px;
    padding-left: 40px;
}

.quote__author-name {
    font-weight: 600;
}

@media screen and (max-width: 1000px) {
    .news-body__row {
        display: flex;
        flex-direction: column;
        gap: 78px;
    }

    .news-body__sidebar {
        order: 1;
    }
}