.news-hero__text {
    position: absolute;
    top: 80px;
    left: 100px;
}

.news-hero__img {
    max-width: inherit;
}

@media screen and (max-width: 1000px) {
    .news-hero__text {
        position: static;
        padding: 40px 0 56px 0;
    }
}
