.is-yellow-bg {
    background-color: var(--c-yellow);
}

.is-peach-bg {
    background-color: var(--c-peach-schnapps);
}

.news-title__title {
    padding-top: 32px;
    font-size: 48px;
    line-height: 52px;
    font-weight: 600;
}

.news-title__category-date {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 32px;
    width: fit-content;
    min-width: 320px;
    padding-right: 56px;
}

.news-title__date {
    background-color: var(--c-dark-pink);
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 12px 0;
    border-radius: 8px;
    margin-top: 16px;
}

.news-title__date-day {
    font-size: 40px;
    line-height: 44px;
    font-weight: 600;
}

.news-title__date-month {
    font-size: 13px;
    line-height: 18px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.news-title__date-time {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.news-title__category {
    font-weight: 600;
}

.news-title__title-author {
    border-left: 1px solid var(--c-scorpion);
    padding-left: 58px;
}

.news-title__author {
    padding-top: 88px;
    width: 220px;
    padding-bottom: 32px;
}

.news-title__title-description {
    padding-top: 16px;
    padding-bottom: 58px;
}

.news-title__author-img {
    border-radius: 100px;
}

.news-title__author-name {
    font-weight: 600;
}

.news-title__row {
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 1000px) {

    .news-title {
        padding: 0 20px;
    }

    .news-title__title-author {
        order: -1;
        overflow: auto;
        border-left: none;
        padding-left: 0;
    }

    .news-title__author {
        padding-top: 32px;
        padding-bottom: 48px;
    }

    .col:has(.news-title__date) {
        width: 100%;
    }

    .news-title__category-date {
        padding-right: 0;
        width: 100%;
    }

    .news-title__row {
        display: flex;
        flex-direction: column;
    }
    
}

