.is-yellow-bg {
    background-color: var(--c-yellow);
}

.news-title {

}

.news-title__title {
    padding-top: 32px;
    font-size: 48px;
    line-height: 52px;
    font-weight: 600;
}

.news-title__category-date {
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 32px;
}

.news-title__title-author {
    border-left: 1px solid var(--c-scorpion);
    padding-left: 58px;
}

.news-title__author {
    padding-top: 88px;
    width: 220px;
    padding-bottom: 32px;
}

.news-title__author-img {
    border-radius: 100px;
}

.news-title__author-name {
    font-weight: 600;
}

.tran-row {
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 1000px) {

    .news-title {
        padding: 0 20px;
    }

    .news-title__title-author {
        order: -1;
        overflow: auto;
        border-left: none;
        padding-left: 0;
    }

    .news-title__author {
        padding-top: 32px;
        padding-bottom: 48px;
    }

    .news-title__category-date {
        width: fit-content;
    }

    .tran-row {
        display: flex;
        flex-direction: column;
    }
    
}

