.news-hero__breadcrumbs {
    position: absolute;
    left: 80px;
    top: 140px;
}

.news-hero__media {
    margin: 0 auto;
}

.news-hero__img {
    width: 100%;
    height: auto;
}

@media screen and (max-width: 1000px) {
    .news-hero__breadcrumbs {
        position: static;
        background-color: var(--c-pearl-bush);
        padding: 140px 20px 24px 20px;
    }
}
